@import "../../variables.scss";

.menu-bar {
    margin: 28px 0 auto;
    padding-top: 2px;
    height: 24px;
}

#menu-btn {
    background-color: $--main-bg-color;
    color: $--main-font-color;
    border: hidden;
    outline: none;
    text-align: left;
}

#menu-btn:hover {
    filter: brightness(75%);
}

.menu-bar span {
    display: flex;
}
