@import "../variables.scss";

.container {
    height: 100vh;
    overflow: hidden;
    border: hidden;
    border-radius: 7px;
    padding: 0px;
    margin: 0; 
    color: $--main-font-color;
    background-color: $--main-bg-color;
}

header {
    border-radius: 7px;
}

.title-bar {
    width: 100%;
    position: fixed;
    display: block;
    background-color: $--main-title-color;
    height: 28px;
    margin: 0;
}

.title {
    -webkit-app-region: drag;
    width: 100%; 
    height: 100%;
    line-height: 26px;
    padding-top: 0.1%;
}

.title span{
    padding-left: 7px;
}

.title-bar-btns {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 100%;
    line-height: 28px;
    -webkit-app-region: no-drag;
}

#title-bar-btns .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
 
#min-button {
    grid-column: 1;
}

#max-button, #restore-button {
    grid-column: 2;
    grid-row: 1;
}

#close-button {
    grid-column: 3;
}

#title-bar-btns {
    -webkit-app-region: no-drag;
}

#min-button:hover {
    background: $--main-bg-color;
}

#min-button:active {
    background: rgba(255,255,255,0.2);
}

#max-button:hover {
    background: $--main-bg-color;
}

#max-button:active {
    background: rgba(255,255,255,0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #F1707A !important;
}

#close-button:active .icon {
    filter: invert(1);
}

#restore-button:hover {
    background: $--main-bg-color;
}

#restore-button:active {
    background: rgba(255,255,255,0.2);
}

.minimized-max {
    display: block;
}

.minimized-res {
    display: none;
}

.maximized-res {
    display: block;
}

.maximized-max {
    display: none;
}
  

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #title-bar-btns .icon {
    width: 10px;
    height: 10px;
  }
}

