<div class="container">
  <header class="title-bar">
    <div class="title"><span>Setup Checker</span>
      <div class="title-bar-btns">
        <div class="button" id="min-button">
          <img class="icon" src="assets/icons/min-w-10.png" draggable="false" />
        </div>
  
        <div class="button" id="max-button">
          <img class="icon" src="assets/icons/max-w-10.png" draggable="false" />
        </div>
  
        <div class="button" id="restore-button">
          <img class="icon" src="assets/icons/restore-w-10.png" draggable="false" />
        </div>
  
        <div class="button" id="close-button">
          <img class="icon" src="assets/icons/close-w-10.png" draggable="false" />
        </div>
      </div>
    </div>
    
  </header>
  <div class="menu-bar">
    <button id="menu-btn">Menu</button>
  </div>
  <div class="content-container">
    <label for="newSetup"></label>
    <input type="text" class="text" id="newSetup">
  </div>
</div>